[2016-03-28 16:11] blamarche opened #1 "Doesn't open new code window on linux mint 17.3 - code: bad option: -n"
Is anyone else having this issue? It refuses to run the new code instance and I get the following error:

[code]

[2016-03-28 16:24] felipecaputo commented on #1
Hi @blamarche , I'll check that as soon as I get home.

[2016-03-31 17:04] martinpengellyphillips opened #2 "Add depth limit configuration option"

[2016-03-31 18:04] martinpengellyphillips commented on #1
I'm getting a similar error on Windows 10:

[code]

[2016-03-31 19:24] felipecaputo commented on #1
I will fix the behavior for windows tonight but, in Linux there is a problem with the code executing with `child_process`, I've tried with Insiders .deb package and worked

[2016-04-01 02:01] felipecaputo commented on #1
I've tried but still not working with linux, it starts a node app instead of code

@martinpengellyphillips Could you please test again in your windows 10 with 0.1.4 ?

[2016-04-01 17:36] martinpengellyphillips commented on #1
@felipecaputo Thanks for looking into this. Still getting an error and no project being opened on Windows 10 with 0.1.4

[code]

[2016-04-01 17:56] martinpengellyphillips commented on #1
Been testing a little more locally and it does appear that when launching code from terminal with `C:\Program Files (x86)\Microsoft VS Code\bin` present in `PATH` then the opening of projects works as expected. That path points to the folder holding `code.cmd` not `Code.exe`.

When that path is not set then error occurs.  Launching `Code.exe` directly from desktop also exhibits the issue.

[2016-04-02 20:46] martinpengellyphillips commented on #1
I've put up a PR #3 with a potential fix for the Windows issue at least.

[2016-04-03 00:02] felipecaputo commented on #1
Thx @martinpengellyphillips

[2016-04-05 13:18] chuckhendo opened #4 "Ignore patterns"
It would be great if we could set the discovery process to ignore certain folders, like node_modules or bower_components so it wouldn't have to crawl them. Would you accept a PR for this?

This may fix the performance issues brought up in #2 if the correct folders are ignored.

[2016-04-05 13:22] chuckhendo commented on #4
Apparently you added this in master... disregard! :+1:

[2016-04-05 13:22] #4 closed

[2016-04-05 15:32] felipecaputo commented on #4
Hi @chuckhendo, I will release this version today and it really improved a lot the performance.

Thx

[2016-04-05 15:36] felipecaputo commented on #1
@blamarche I've tested this a lot, and it seems that in Linux the current code version is having some problems in being executed via `child_process.exec`, `child_process.execFile` and `child_process.spawn`.

I've testes with code-insiders and it works. So with the PR #3 in version 1.5 that I will finish the documentation to release it tonight it will work with code insiders but not with code itsel

[2016-04-05 17:09] blamarche commented on #1
Yes. I have done a little testing and it seems to be a vscode issue :)

Thanks!

[2016-04-06 01:13] felipecaputo commented on #1
Version 0.1.5 released

[2016-04-06 01:13] #1 closed

[2016-04-06 01:14] felipecaputo commented on #2
Version 0.1.5 released

[2016-04-06 09:55] martinpengellyphillips commented on #2
Thanks for this, but I didn't see any performance boost. Looking at master I see the `filterDir` code commented out - is that intentional / in the release?

https://github.com/felipecaputo/git-project-manager/blob/master/src/gitProjectLocator.js#L53

Also, I think the max depth might work better if the search didn't have to recurse into the `.git` directory to find it. Instead it would check each

[2016-04-06 15:39] felipecaputo commented on #2
@martinpengellyphillips Sorry for that, I forgot that vcse publishs the local code instead of commited code. I Will fix that ASAP.

And I will make the .`git` fix in the same release

[2016-04-06 16:05] felipecaputo commented on #2
Solved in 0.1.6.

Sorry again @martinpengellyphillips, but now i think it is working fine

[2016-04-06 16:30] martinpengellyphillips commented on #2
Thanks for the quick update!

Since updating to 0.1.6 the extension breaks for me with the following error:

[code]

I'll pull master locally and try to debug this further unless it is something you have seen already?

[2016-04-06 16:43] felipecaputo opened #5 "Version 0.1.6 is not working installed but works perfectly in debug"
I don't know if this is happening to someone else, but the same code that I have published is not working after published.

I'm checking this out

[2016-04-06 16:50] felipecaputo commented on #2
In debug the error is not happening, I'm trying to figure it out. Any help is welcome

[2016-04-06 18:32] felipecaputo commented on #2
VSCE does not manage well dependencies of dependencies :(

I've figured it out in the worst way, but fixed now in 0.1.9

Sorry for the inconvenience @martinpengellyphillips

[2016-04-06 18:32] #2 closed

[2016-04-06 18:33] felipecaputo commented on #5
Fixed the behavior.

VSCE does not manage weel dependencies of dependencies

[2016-04-06 18:33] #5 closed

[2016-04-06 18:50] martinpengellyphillips commented on #2
Works! Thanks.

One thing about max depth - I think it would be best if the max depth check is inclusive rather than the current exclusive (now that the `.git` subfolder check is performed):

[code]
to
[code]
This would then ensure that the common case of projects directly under projects base path is handled efficiently. At present I have set the config option to `0.5` as a workaround.

Thanks aga

[2016-04-06 19:02] martinpengellyphillips commented on #2
Nevermind my last comment - max depth does work as expected!

[2016-04-07 02:30] felipecaputo commented on #2
What do you think about get the origin being optional? There isn't a real necessity for that, was just an idea of handling cases with projects with the same name but, the label is the path itself so, we can let the repo origin configurable.

[2016-04-07 08:57] martinpengellyphillips commented on #2
Yeah - I think that would make sense. For me, the main thing about this extension was to reuse the fact I have `.git` for all my projects already, so it is a great way to discover projects quickly. I don't really care that much about the origin when looking for a project - I would drop it altogether ;-)

On that note, it might be good to also consider putting the project name first and then the pa

[2016-04-22 01:48] felipecaputo commented on #2
@martinpengellyphillips I've added the configuration to disable the check remote origin, sorry for taking too much time but last sprint was hard to finish

[2016-04-22 01:52] felipecaputo opened #6 "Add the project in the start of the list, instead of the path"
As sugested by @martinpengellyphillips in issue #2

[2016-04-22 19:00] martinpengellyphillips commented on #2
Thanks @felipecaputo ! This works perfectly - with `storeRepositoriesBetweenSessions` set to *false*, `maxDepthRecursion` set to *1* and `checkRemoteOrigin` set to *false*, my large list of projects over three roots loads instantly whereas before it would take up to a minute. Thanks again for being so responsive.

[2016-04-25 23:47] lhmiranda opened #7 "Please make gitProjectManager.codePath accept an array of paths"
I use VS Code both in Windows and Linux and I use code-settings-sync extension so I can sync my settings and extensions between the two systems and it works great except for GPM because I can't set two path for VS Code and using no setting also doesn't works.
I can set folders for both environments like this and it works nicely:
[code]
It would be great if I could do the same for the code executab

[2016-04-26 20:19] felipecaputo commented on #7
Hi @lhmiranda. I will solve this ASAP. Probably with the next version in the end of this week

[2016-04-29 00:41] lhmiranda commented on #7
Thanks man, really appreciate the effort! Also thank you for this great extension, fellow brazilian!

[2016-04-29 01:11] #6 closed

[2016-04-30 01:37] #7 closed

[2016-04-30 01:50] felipecaputo commented on #7
@lhmiranda I've release it today. It now accepts an array of string, a simple string, or an object that has platform as identifiers and path as values, like you can see in read me

I hope it helps.

Best regards o/

[2016-04-30 12:01] martinpengellyphillips commented on #6
Works great - thanks!

[2016-05-02 20:35] felipecaputo commented on #7
@lhmiranda Can you check if it solved your problem please?

[2016-05-16 12:40] lhmiranda commented on #7
Yes, it did!
Only for the array mode, tho. I tried using the object where you can set windows and linux paths as properties and it didn't worked at the time.

[2016-05-16 22:31] felipecaputo commented on #7
@lhmiranda although now you can use the new vsCode API, it doesn't need to set code path, as it uses internal API.

Glad to be of help o/

[2016-09-08 21:01] brakmic opened #8 "Can't open projects in Insider's Build of VSCode"
Hi,

I'm using the Insiders-Build of Code.

[code]

When I try to open one of the projects from my list the following error appears:

[code]

I've also tried to mitigate the problem by refreshing the project list but the error remained.

Regards,

[2016-09-08 23:38] felipecaputo commented on #8
Hi @brakmic, I'll take a look at it tonight. Probably there was some change to the API.

Thanks for reporting

[2016-09-09 07:47] ksfe opened #9 "Error while showing Project list: TypeError: e.done is not a function"
Error while showing Project list: TypeError: e.done is not a function!!  For vs code v1.5.1

[2016-09-09 10:49] admiral0 commented on #9
Duplicate of #8

[2016-09-09 18:43] tfuquay commented on #8
Is this potentially related to https://github.com/Microsoft/vscode/issues/11771?

[2016-09-09 18:54] felipecaputo commented on #8
@tfuquay Yes, the same call stack and error of Microsoft/vscode#11754

[2016-09-09 23:14] wesleycoder commented on #8
Any workarounds possible?

[2016-09-12 07:26] sachinofficial commented on #8
Would love to have this fixed soon!

[2016-09-12 09:57] grovina opened #10 "Project folder in settings"
It'd be nice if we could set a list of project folders in addition to locating git projects within a folder.

[2016-09-12 10:32] wesleycoder commented on #8
It happens with the actual release of vscode too, not just the insiders build.

[2016-09-12 11:23] felipecaputo commented on #8
I'll try to fix it in the next hours, sorry for taking to much time. There was an appointment this weekend and I didn't had time to fix it.

[2016-09-12 11:51] felipecaputo commented on #8
ShowQuickPick is not working when receive promises. As a side efect, quick pick will not be shown until
  all folders had been searched

[2016-09-12 11:51] #8 closed

[2016-09-12 11:52] felipecaputo commented on #9
ShowQuickPick is not working when receive promises.

Version 0.1.14 fixes it, but as a side efect, quick pick will not be shown until all folders had been searched.

[2016-09-12 11:52] #9 closed

[2016-09-12 11:55] felipecaputo commented on #10
Hi @grovina,
If I did not get it wrong, the idea is to have projects paths that are not git repositories in one config to allow you to be able to open it in the same interface.

If it is correct I can add it easily for you

[2016-09-12 11:57] grovina commented on #10
Exactly, that'd be useful ;)

[2016-09-13 07:46] ksfe commented on #9
Thx all!

[2016-09-17 22:50] Tyriar opened #11 "The extension should refresh projects automatically when gitProjectManager.baseProjectsFolders is changed"
Right now if there are projects already cached and `gitProjectManager.baseProjectsFolders` is changes in settings you explicitly need to refresh the projects or reload vscode.

[2016-09-17 22:51] Tyriar opened #12 "Is GPM refresh info popup necessary?"
I find it a bit annoying when I explicitly call refresh and it gives me a popup which I need to manually dismiss.

[2016-09-17 22:55] Tyriar opened #13 "Environment variables in gitProjectManager.baseProjectsFolders should be resolved"
I have several user names across various computers, in order to only specify a single project folder for Windows and non-Windows I need environment variables to be resolved in `gitProjectManager.baseProjectsFolders`. For example I would like to do this:

[code]

I get this message:

[2016-09-17 22:58] Tyriar opened #14 "Don't warn when a folder in gitProjectManager.baseProjectsFolders doesn't exist"
I code on 3 platforms so my `gitProjectManager.baseProjectsFolders` looks similar to this:

[code]

I see this when paths don't exist on the current computer:

![image](https://cloud.githubusercontent.com/assets/2193314/18611492/79c9c7c8-7cef-11e6-841e-60862125c659.png)

Related: #13

[2016-09-17 23:09] Tyriar opened #15 "Move .vsix files out of repository"
You're generally not meant to check in releases, https://github.com/felipecaputo/git-project-manager/releases is the ideal place to stick these if you want to distribute this way.

[2016-09-17 23:48] Tyriar opened #16 "Narrowing gitProjectManager.baseProjectsFolders and calling refresh will not remove repos that are no longer under the folders"
Steps to reproduce:

Consider the following structure:

[code]

1. Set to a `gitProjectManager.baseProjectsFolders` to `/a`
2. Refresh
3. GPM open, notice both `/a/b` and `/a/c` appear correctly
1. Set to a `gitProjectManager.baseProjectsFolders` to `/a/b`
2. Refresh
3. GPM open, notice both `/a/c` is still showing

[2016-09-18 00:14] Tyriar opened #19 "Tests are not actually running"
Due to a typo in package.json where the test script is defined as `"teste"` the tests aren't actually running https://travis-ci.org/felipecaputo/git-project-manager/jobs/160747745

I believe they are failing right now because they rely on < v1.0 of vscode.

[2016-09-18 00:34] Tyriar commented on #16
This also seems to cause the same repository to appear more than once.

[2016-09-18 00:35] Tyriar opened #21 "Open project list should be alphabetical"
It makes sense for this to be alphabetical, that way it's deterministic which one displays, so in the below case I would be able to trigger the dialog, type "vsc" and hit enter and know that my vscode repository is the one that is loaded.

![image](https://cloud.githubusercontent.com/assets/2193314/18611852/10154f7e-7cfd-11e6-87c2-93b1dc4fc0c6.png)

[2016-09-19 11:24] #16 closed

[2016-09-19 11:26] #11 closed

[2016-09-19 11:28] #21 closed

[2016-09-19 11:29] #13 closed

[2016-09-21 12:07] felipecaputo commented on #12
Hi @Tyriar, sorry for taking too long to reply. We were in a hurry here.

That really makes sense. I'll change it to a simple notification in status bar, just to have a feedback that the refresh finished.

What do you think?

[2016-09-21 12:08] felipecaputo commented on #14
Hi @Tyriar , I belive this can be an option in configuration. Do you think this way it will solve to you?

[2016-09-21 16:07] Tyriar commented on #12
That's sounds much less intrusive 👍

[2016-09-21 16:08] Tyriar commented on #14
Yes this would solve my issue

[2016-09-22 15:38] #12 closed

[2016-09-22 15:38] #14 closed

[2016-09-22 15:44] #15 closed

[2016-09-23 20:38] Tyriar opened #24 "Triggering the gitProjectManager.openProject command results in a delay"
After using the extension for a week or so now I've noticed myself doing the following:

1. Create a new instance of vscode (ctrl+shift+n)
2. Trigger gitProjectManager.openProject
3. Start typing my search query
4. Press enter

Unfortunately there is a significant delay (~500ms) that occurs after step 2 which means that half of my search query goes in the active file and half in the search field,

[2016-09-25 08:35] Tyriar opened #27 "Publish new version after #25 is merged"
After https://github.com/felipecaputo/git-project-manager/pull/25 gets merged it would be great if a new version is published so we can get the improvements out there.

[2016-09-26 20:56] #24 closed

[2016-09-26 21:04] felipecaputo commented on #24
I've removed the promise because of #8 and #9

But VSCode team fixed the issue and I didn't returned the old code.

Thx again!

[2016-09-27 17:43] #10 closed

[2016-09-27 17:43] #27 closed

[2016-09-27 17:49] felipecaputo opened #28 "Fix and reactivate tests"
After fixing the typo in npm package tests are running but breaking build. Need to fix it ASAP

[2016-09-27 17:58] Tyriar commented on #27
:tada:

[2016-09-27 18:23] #28 closed

[2016-09-28 16:54] #19 closed

[2016-10-10 21:24] Tyriar opened #29 "Allow exact matches (from start) to always be first"
My issue is that since it's alphabetical now, the top match is not always the best one. Meaning it's less deterministic which project will show up first, I can't simply type "vscode" and press enter:

![image](https://cloud.githubusercontent.com/assets/2193314/19251476/4b012be0-8ef4-11e6-9e71-7693fceff1dc.png)

There are a

Consider the following list of files:
- a
- ab
- b
- bb
- c
- cb

Here are

[2016-10-14 13:18] felipecaputo commented on #29
Hi @Tyriar, I've been trying to figure out a way to do this, but QuickPick doesn't have any callbacks to let us know what did the user typed already.

Option 1 would be great.

I will keep looking for an alternative to find the input text. If I find anything I'll let you know.

[2016-11-02 07:45] mafredri opened #30 "Typing before cache is primed does not filter results"
If I type in part of a project name before GPM has finished priming its cache, there will be no filtering applied to the result. I need to then type an additional character to trigger the filtering

Reproduction steps:

1. Launch vscode
2. Open GPM (`Cmd+Opt+P`)
3. While GPM is loading, type in e.g. 3 letters from a project
4. Wait until GPM load is complete and GPM shows you all repos
5. Type in

[2016-11-02 16:55] felipecaputo commented on #30
Hi @mafredri thanks for your feedback, I'm really happy that you liked the extension.

About the issue I'll take a look at this ASAP, propably at nigh when I get back home.

[2016-11-14 20:26] geddski opened #31 "tilde alias ~ for baseProjectsFolders doesn't work"
the full path works
[code]

but this plugin can't find the directory when using the tilde alias for home
[code]

[2016-11-15 00:19] #31 closed

[2016-11-15 03:13] geddski commented on #31
Awesome thank you!

[2016-11-15 18:29] felipecaputo commented on #31
@geddski You're welcome. Glad to be of help!

[2016-11-16 23:25] geddski opened #32 "doesn't follow symlinks"
if I put in a path that's a symlink to another directory, this plugin won't find any git repos inside it.

[code]

[2016-11-17 15:48] #32 closed

[2016-11-18 21:47] geddski commented on #32
thanks! One interesting caveat is that it only works (on macOS) if you include the trailing slash:

[code]

Might be good to mention that in the docs. Thanks for being so responsive and adding this!

[2016-11-23 17:07] leotm opened #33 "'Open Git Project' hanging in Windows"
I use GitHub Desktop so few projects in the default: ```C:\Users\leom\Documents\GitHub```

So added to _settings.json_: ```"gitProjectManager.baseProjectsFolders": [ "C:\\Users\\leom\\Documents\\GitHub" ]```.

I've tried adding option 1: ```"gitProjectManager.codePath": "C:\\Program Files (x86)\\Microsoft VS Code\\bin\\code.cmd"```

And replacing with option 2: ```"gitProjectManager.codePath" : {

[2016-11-23 19:42] felipecaputo commented on #33
Hi @leotm , could you please provide a screenshot of the vscode interface, including the statusbar and the Output  Panel (Ctrl+Shift+U on windows)  showing extension logs

Example:
![image](https://cloud.githubusercontent.com/assets/7751449/20576213/27d5b2ee-b1a4-11e6-82e2-0a8c105dd1f9.png)

[2016-11-24 10:19] felipecaputo commented on #30
@mafredri It will probably be fixed in next VSCode release, in december

[2016-11-24 12:21] mafredri commented on #30
@felipecaputo great, thanks for investigating this =)!

[2016-11-30 11:50] perlun opened #34 "Feature request: support sub-folders"
Hi,

Thanks for a great VSCode extension. I have an issue with it, and the issue is that my git folders are extremely numerous (between 150 and 200), so I have split them per customer.

However, I cannot seem to be able to specify the "parent folder" which contains all these git repos. If I do, it will not find any repos. Any way to work around this?

[2016-11-30 13:06] felipecaputo commented on #34
Hi @perlun, I'm glad you enjoy the extension

It will help if I create another command that allows you to choose which of the configured folders in `gitProjectManager.baseProjectsFolders` it will search, e.g. GPM - Show git projects from folder

This command will first list the configured folders in the configurarion, and after that list only projects that are into that folder.

What do you think?

[2016-12-22 17:36] klinquist opened #35 "GPM does not pass the correct folder case to VSCode when opening"
Latest VSCode on latest OS X.

Whenever I open a project via GPM and the try to debug it, I see the following in my VSCode Debug Console:

`Program path uses differently cased character as file on disk; this might result in breakpoints not being hit.`

...and just like it says, my breakpoints do not get hit.

[2016-12-22 17:41] klinquist commented on #35
By the way, it appears the correct case *is* in the dir key of my gpm_projects.json.

[2016-12-23 11:43] felipecaputo commented on #35
Hi @klinquist , I'll take a look at this as soon as I get home today.

As soon as I find it, I'll let you know

[2016-12-23 11:55] felipecaputo commented on #30
I'vre tried and it is working!

[2016-12-23 11:55] #30 closed

[2016-12-23 13:02] mafredri commented on #30
Indeed it does, thanks @felipecaputo!

[2017-01-06 15:16] Tyriar opened #36 "Extension no longer works on Insiders (1.9)"
See https://github.com/Microsoft/vscode/issues/18187

[2017-01-07 02:11] felipecaputo commented on #36
I'll take a look at it tomorrow morning. I think I know what it is. Is the
open folder execute command promise. It has never failed before, so never
hit catch.

As soon as I figure out what it is I'll let you know.

Felipe Caputo

On Jan 6, 2017 1:16 PM, "Daniel Imms" <notifications@github.com> wrote:

See Microsoft/vscode#18187
<https://github.com/Microsoft/vscode/issues/18187>

—
You are receivi

[2017-01-07 02:22] Tyriar commented on #36
The linked issue explains you shouldn't assume executeCommand returns a promise, and I think the return value changed for that command.

[2017-01-09 23:32] #36 closed

[2017-01-14 10:35] unional opened #37 "Add a command to refresh cache"
Currently there is no way to repopulate the list when cache is enabled. 🌷

[2017-01-15 18:01] Tyriar commented on #33
Maybe `maxDepthRecursion` was too large? @felipecaputo should the default be lower than 4? 4 would probably include `node_modules` sub-directories for example.

On a personal note I use 2 as I lay out my git dir as `~/dev/<user>/<project>`

[2017-01-16 14:03] felipecaputo commented on #37
Hi @unional, have you tried the Refresh Projects command?

With cache options enabled, it is not working?

![image](https://cloud.githubusercontent.com/assets/7751449/21985798/3734a09a-dbdb-11e6-84bb-8adca6dcecef.png)

[2017-01-18 00:08] felipecaputo commented on #33
Good idea @Tyriar, I'll reduce there and I'll also let checkRemoteOrigin to false by default.

[2017-01-18 00:08] felipecaputo commented on #33
Good idea @Tyriar, I'll reduce there and I'll also let checkRemoteOrigin to false by default.

[2017-01-31 17:59] klinquist commented on #35
Solved. My "baseProjectsFolders" wasn't in the correct case.

[2017-01-31 17:59] #35 closed

[2017-03-06 13:47] felipecaputo commented on #37
Closing this issue by inactivity. If the problem persists @unional just comment and I'll try to help again

[2017-03-06 13:47] #37 closed

[2017-03-07 11:50] otbe commented on #36
I use the latest version of GPM in Insiders 1.11.0 and GPM does not work anymore. It reindexes the project folders after every restart of VSCode (with ```storeRepositoriesBetweenSessions``` turned on) and it does not open projects from the list via click/enter. Seems to be related to this issue!?

[2017-03-07 16:12] Tyriar commented on #36
@otbe yes the extension appears broken now on today's insiders @ https://github.com/Microsoft/vscode/commit/5e9357bd5111eacf2b8fb39455c8afb5a42d632f

[2017-03-07 17:09] otbe commented on #36
@Tyriar it started some days ago not today with your mentioned commit :)
But nevertheless Im happy this is confirmed.

[2017-03-14 17:49] schwaerz commented on #33
Same issue here. Looks like there's still some information missing?

For me the git project manager configuration is

    "gitProjectManager.baseProjectsFolders": ["c:\\repositories"],
    "gitProjectManager.codePath": "C:\\Program Files (x86)\\Microsoft VS Code\\bin\\code.cmd",
    "gitProjectManager.maxDepthRecursion": 1,
    "gitProjectManager.checkRemoteOrigin": false

The extensions log doesn

[2017-03-14 19:24] cuth opened #39 "Feature request: openInNewWindow as a separate command rather than option"
This is a feature request to remove the option `openInNewWindow` and make two separate commands for opening in a new window or replacing the current window.

This is an excellent plugin for VSCode. Thank you!

[2017-03-15 14:22] felipecaputo commented on #39
Hi @cuth, thank you very much for the feedback about the extension. I'm glad to help

I will make asap. I've been working on a complex problem at work and was with almost no time to work here, but things are getting calm now.

I'll try to release this and the other fixes until tomorow!

[2017-03-15 18:26] felipecaputo commented on #33
Hi @schwaerz , it may be a problem with the max recursion, but can you try with maxDepthRecursion 2, maybe its considering 1 as the root directory. I'll take a look at this later today

[2017-03-15 18:35] schwaerz commented on #33
Hi
thanks for the answer - and of course for providing this plugin :+1:  .

In fact first I tried with default recursion. After that I switched to 1 to see whether it fixes the issue.
But didn't try maxDepthRecursion 2. I'll give it a shot...
:gun:
... Unfortunately it didn't make a difference.
Thanks already for looking into it. This plugin finally would allow me to no longer depend on Atom edito

[2017-03-15 22:28] #39 closed

[2017-03-16 03:58] cuth commented on #39
Thanks so much! I just tried it out and it worked perfectly!

[2017-03-17 12:54] felipecaputo commented on #29
Hi @Tyriar, I've tried it after the February release and now its seems to work.

If not, feel free to reopen the issue, and thanks a lot for all PRs

[2017-03-17 12:54] #29 closed

[2017-03-17 12:55] felipecaputo commented on #33
@schwaerz I will release another version today to fix issue to support open projects from subfolders, I'll add some logs and put a config to enable them.

After that let's make it work in no time!

[2017-03-17 12:57] felipecaputo commented on #34
@perlun Sorry for taking too long. The feature is already implemented and I'm finalizing some tests to put it live today.

I hope it will help you!

[2017-03-17 14:25] perlun commented on #34
I went with this approach for now:

[code]

[2017-03-17 16:14] felipecaputo commented on #34
I think I've had a bad understanding of your issue, maybe you can only set the `maxDepthRecursion` configuration to be higher, it means how much directories deep it can crawl.

The default value is 4, but you can increase it, the trade of is that the search may be slower

The new functionality I've build allows you to choose one of the base projects folder to list the projects

[2017-03-17 16:17] schwaerz commented on #33
Sounds great :+1:

[2017-03-17 16:45] felipecaputo commented on #36
Hi @otbe and @Tyriar, I'll take a look on it today.

As soon as I find something I'll let you know

[2017-03-17 16:49] Tyriar commented on #29
Works great thanks :+1:

[2017-03-17 16:50] Tyriar commented on #36
@felipecaputo this seems to have fixed itself, don't waste time investigating :smile:

[2017-03-18 13:26] #34 closed

[2017-03-18 14:18] felipecaputo commented on #33
Hi @schwaerz, new version released. Could you please try it out?

[2017-03-18 14:19] felipecaputo commented on #36
@Tyriar Thanks for the feedback! o/

[2017-03-18 14:22] felipecaputo commented on #34
@perlun New version released 1.2.0, hope it helps you!

[2017-03-18 14:25] felipecaputo opened #41 "Add support to clone into folder"
To avoid getting out of editor to clone a repository, add this command to Git Project Manager

[2017-03-18 14:28] felipecaputo opened #42 "Add option to clone a submodule inside current project"

[2017-03-18 14:29] felipecaputo opened #43 "Add option to open a submodule project in a new window"

[2017-03-18 21:26] perlun commented on #34
Thanks @felipecaputo, appreciated!

My use case is: my `~/git` folder has very many folders in it. So its grouped in subfolders. If I set `gitProjectManager.baseProjectsFolders` to the _parent_ folder (which doesn't have any git folders in it), it didn't work, I had to list the specific folders under there. This was a bit inconvenient but it worked.

[2017-03-19 14:11] r15ch13 opened #44 "Error: this.storedLists.get is not a function, with enabled cache"
GPM Version 1.2.0

- fresh start of VSCode and `storeRepositoriesBetweenSessions` is set to `true`
- ctrl+alt+p
- nothing happens
- ctrl+alt+p again
- error

![gpm-load-with-cache](https://cloud.githubusercontent.com/assets/432127/24081508/7e589084-0cb5-11e7-9bf1-c5b802aa091e.gif)

Edit:

- fresh start of VSCode
- `gpm: refresh projects`
- `project list refreshed` appears immediately in the status

[2017-03-20 10:32] schwaerz commented on #33
Hi & thanks for the quick release.

Unfortunately I've to tell that it didn't fix my issue. Probably I just didn't wait long enough?

For testing I created a new folder with just two empty repositories in it. This works as expected.

I've got 43 repositories in my c:/repositories folder (all on local SSD).
Is there a way to do the scanning for the folders in the background? Otherwise I may touch m

[2017-03-20 10:36] schwaerz commented on #33
... Just found the root cause. Finally I remembered that c:\\repositories is just an NTFS junction to some other directory. Looks like this doesn't work here.
However if I enter the full path everything work like a charm :smile:

Sorry for pointing you in the wrong direction. Think a small note like 'NTFS junctions are not supported' will do. Actually I don't need junction support.

Thanks for you

[2017-03-20 11:33] felipecaputo commented on #44
Hi @r15ch13, I've found the issue.

After the refactoring, the Map that now stores the list was left aside.

I'll work on it as soon as I get home

Thanks for the feedback

[2017-03-20 11:35] felipecaputo commented on #33
I'll try to take a look at NTFS junctions and how `fs` works on it, maybe it can be solved easily

[2017-03-22 01:20] #44 closed

[2017-03-22 01:50] felipecaputo commented on #44
Hi there @r15ch13! Could you please validate if everything works fine in 1.2.1?

If not, let me know

[2017-03-22 01:51] #33 closed

[2017-03-22 08:47] r15ch13 commented on #44
Works great, thanks 👍

[2017-03-22 15:08] willpracht opened #46 "Fail Silently on Missing baseProjectFolder"
I use this plugin on two different machines (with synced settings via the Settings Sync plugin), both with different directories used for projects.

Example:
[code]

In previous versions, having an incorrect path in my `baseProjectsFolders` array would fail silently.

So if I was on Machine 1/User 1, it would index those projects properly and then fail silently when it couldn't find the `user2` di

[2017-03-22 16:00] felipecaputo commented on #46
Hi @willpracht, sometime ago, someone asked to avoid warning messages, and proposed a configuration that would hide them. The **warnFoldersNotFound** config is *false* by default.

Could you please check if, changing it to true would fix the problem?

[2017-04-04 15:00] xoviat opened #47 "Does GPM need to search subdirectories?"
I have 20 directories, so it should only take a few milliseconds for GPM to list the contents of all of those directories, see a .git folder, and then list projects. However, it takes quite a bit longer because GPM scans the subdirectories of those directories. Is this necessary?

[2017-04-08 18:20] felipecaputo commented on #47
Hi @xoviat, I've let it keep searching because I have some projects that have submodules. What do you think about a configuration that allows you to decide this behavior?

[2017-04-08 19:09] xoviat commented on #47
Sounds great!

[2017-04-10 16:01] uMotif-wichura opened #48 "command XXX not found"
Hello,

Thank you for a marvellously handy plugin!

The issue I'm struggling with is that none of the commands seems to be working following an update of VSC. The message I'm getting is 'command 'gitProjectManager.refreshProjects' not found.

Happy to provide you with any logs, if needed.

[2017-04-10 18:22] felipecaputo commented on #48
Hi @uMotif-wichura, you are having this problem on VSCode or in the Insiders version?

I'll take a look to see if I can reproduce this problem as soon as I get home today, and let you know

[2017-04-11 05:47] uMotif-wichura commented on #48
Thanks for getting back to me @felipecaputo. It is VSCode.

[2017-04-12 12:11] felipecaputo commented on #48
@uMotif-wichura I've tried to reproduce it yesterday but without any success. Could you try to uninstall and install it again and see if the errors persist?

[2017-04-12 12:12] felipecaputo commented on #47
@xoviat I've finished the implementation yesterday. I'll just do a little more tests with it today and release ASAP.

Sorry for taking to long.

[2017-04-12 14:14] xoviat commented on #47
@felipecaputo

I guess I have a different definition of "long." I work on projects where you can expect your pull request to be merged in a month.

[2017-04-17 23:17] #47 closed

[2017-04-18 08:56] uMotif-wichura commented on #48
No luck, I'm afraid; the issue still persists. I uninstalled the extension, restarted VSCode, installed the extension, restarted VSCode again, all to no avail.

Are there, potentially, any lingering files after the uninstall is complete I could try and remove manually? Let me know if there is any more information I could provide you with.

[2017-04-18 17:35] Tyriar opened #49 "Insiders not finding folders"
Just saw this:

![image](https://cloud.githubusercontent.com/assets/2193314/25144467/bf68c952-2422-11e7-8346-d6979cac248f.png)

VS Code:

[code]

Ubuntu 17.04

[2017-04-18 18:30] felipecaputo commented on #49
@Tyriar Thanks for the issue, probably some not tested case that break with last refactorying.

I'll look onto it later today.

[2017-04-21 15:47] Tyriar opened #50 "maxDepthRecursion no longer seems to work"
I have the following setup:

[code]

And it seems to be looking very deep in the `"%USERPROFILE%\\Documents\\dev"` folder on Windows as I can see it looking at node_modules in the status bar:

![image](https://cloud.githubusercontent.com/assets/2193314/25285440/1923b224-266f-11e7-836c-085fd3018f26.png)

---

Version details:

- VSCode Version: Code - Insiders 1.12.0-insider (d8fe52b1789a398a731934

[2017-04-22 22:27] #49 closed

[2017-04-22 22:27] #50 closed

[2017-04-23 13:54] felipecaputo commented on #50
@Tyriar Sorry for taking too long to solve this. It was a really busy week at work. o/

[2017-04-23 14:01] felipecaputo commented on #48
Are you using Mac, Windows or Linux?

Maybe, after uninstalling, delete the extension's folder in you user's folder `~/.vscode/extensions/felipecaputo.git-project-manager-1.3.0` could solve the problem

[2017-04-23 23:56] Tyriar commented on #49
@felipecaputo Thanks for fixing the issues 😄

[2017-04-24 16:06] uMotif-wichura commented on #48
Still nothing. I even installed the insiders version of VSCode, and installed the latest version of the extentions (1.3.1). Same issue.

I'm on a Mac, macOS Sierra.

[2017-04-25 17:27] Tyriar opened #52 "Use the Insiders config directory when running VS Code Insiders"
I just setup a new machine and I hit this:

[code]

[2017-04-25 17:29] Tyriar commented on #52
This is actually caused because you should be checked for and creating `~/.config/Code - Insiders/...` if you're on Insiders.

[2017-04-26 01:10] #52 closed

[2017-04-26 15:05] uMotif-wichura commented on #48
I've updated the extension to 1.3.2 and it is working again. Thank you for all your support and a great extension!

[2017-04-26 21:13] felipecaputo commented on #48
Great to hear it from you!

Sorry for taking too long.

[2017-04-26 21:13] #48 closed

[2017-04-27 11:59] felipecaputo commented on #46
@willpracht I'm closing this issue by inactivity. If the problem persists, fell free to reopen it

[2017-04-27 11:59] #46 closed

[2017-05-25 16:32] FezVrasta opened #53 "command 'gitProjectManager.openProject' not found"
Sometimes I get this error when I try to open the list of projects.

[code]

Restarting VS Code fixed the problem

[2017-06-05 10:59] felipecaputo commented on #53
Hi @FezVrasta, sorry for taking too long.

I'll take a look at this. Did you notice any sequence of steps that leads to this error?

[2017-06-05 11:07] FezVrasta commented on #53
It happens as soon I open a new VS Code instance

[2017-08-07 13:01] sgtoj commented on #53
This is now an issue with current VS Code Insiders. It has been for the past week or two.

### Troubleshooting

- Reinstall the Add-on
- Reinstall VS Code Insiders
- Both 32 and 64 bit Insiders versions fail
- Standard VS Code works expected

### Version Info

#### System Information

- Windows 10 Insiders - Build 16257 (latest)
- NodeJS v8.2.1

#### VS Code Insiders

[code]

[2017-08-07 13:33] felipecaputo commented on #53
@sgtoj Thanks for the Trobleshooting.

I'll take some time to understand why this is happening, maybe some problema between previous updates.

I'll try to update using vsix and reproduce the error. o/

[2017-08-09 14:44] sgtoj commented on #53
@felipecaputo
The solution I found was uninstalling VS Code Insiders then deleting `%USERPROFILE%\AppData\Roaming` directory then reinstalling VS Code Insiders.

[2017-08-11 12:33] DavidDeSloovere opened #56 "Is "didn't opened" correct English?"
English isn't my primary language, but I think this isn't correct.

![image](https://user-images.githubusercontent.com/352626/29213033-c72d1808-7ea1-11e7-8e60-7193ee0ffd3a.png)

Would "It seems you **haven't** opened any.." be correct?
Also I think project needs to be plural.

Can't we get a native English person to validate?

[2017-08-18 19:27] Tyriar opened #57 "ctrl+alt keybindings should not be used by default under Windows"
When you start up on Windows you see this in the console:

![image](https://user-images.githubusercontent.com/2193314/29474453-a4cf61ca-8410-11e7-83ed-21aa844aaf04.png)

I'm on Insiders, not sure if that matters.

[2017-08-24 01:11] felipecaputo commented on #57
@Tyriar, do you know if I change the default key binding, people that is already using the default bindings will keep then when the extension updates, or they will need too go through the `Ctrl + Shift + P` and search for the command to see the new keybind?

[2017-08-24 01:13] felipecaputo commented on #56
Thanks @DavidDeSloovere, my primary language isn't English too, but that really make sense.

I'll ask that in Stack Exchange English Learners to see if they can help. As soon as I get the answer, I'll update it here

[2017-08-24 01:21] felipecaputo commented on #53
@sgtoj, I had the same problem with the last update of Python extension from Don Jayamane recently, but I didn't had to delete the folder.

Did the problem occurred any time after that update?

[2017-08-24 03:09] Tyriar commented on #57
If you change the keybinding it will everyone who use the extension will have their keybindings change unless they explicitly added their own keybindings. Not sure what the right move is here, but the warning is super annoying personally 😛

[2017-08-24 15:23] sgtoj commented on #53
@felipecaputo Nope. Just this one so far. I use that same extension nearly daily too.

[2017-08-24 18:25] DavidDeSloovere commented on #56
I notice I accidentally wrote "Can't we get..." instead of "Can we get...". The latter sound nicer, which I was going for ;-)

[2017-08-25 00:16] felipecaputo commented on #57
@Tyriar I was thinking here and implemented a `legacyOpenProject` command, that keeps the old `Ctrl+Alt+P` keybind, but just Do you thing this is a good approach?

[2017-08-25 00:49] #56 closed

[2017-08-25 01:02] felipecaputo opened #58 "Update Readme"
Readme is really outdated.

Take advantage of #57 and update the new keybind, the new features like Open Projects from Subfolder `Alt+Shit+P` and MRU List `Ctrl+Shift+Q` and write a new and awesome Readme

[2017-08-30 17:50] Tyriar commented on #57
@felipecaputo I think that will still have the same problem of default extension keybindings using alt, no?

[2017-09-01 09:58] wmzy opened #59 "The first time search is too slow"
Here is my config:
[code]
[code]

[2017-09-02 23:30] felipecaputo commented on #59
Hi @wmzy , could you add to your config

    "gitProjectManager.checkRemoteOrigin": false

This option is used to avoid running a git command for each repo to get its origin url

[2017-09-02 23:33] felipecaputo commented on #57
Yes @Tyriar, but that *legacy* option would be kept for only one version, to avoid changing abruptly.

I was thinking yesterday, maybe this legacy option should open keybings file, to allow user to configure if he wants to keep the old keybing ou use the new one

[2017-09-04 01:00] wmzy commented on #59
It works! Thanks!

[2017-09-04 01:00] #59 closed

[2017-09-04 11:39] MonsieurMan opened #60 "Better formatting of the project list"
As of now, the list simply displays the full path to the project. I'm not really a fan of it.
I would find it more useful to have only the project name displayed and then in gray at the right, the path.

[2017-09-05 19:49] felipecaputo commented on #60
Hi @MonsieurMan, that really makes sense.

I'll try to take a look on this next week, or if you would like to send a PR I would love to accept it

[2017-09-05 20:10] MonsieurMan commented on #60
I'll take a look at the code this week but I've never managed to understand how these extensions were architectured. I'll keep you updated.

[2017-09-06 02:42] Tyriar commented on #57
@felipecaputo ah, I missed the message. Sounds good :smiley:

That's how we typically deprecate in VS Code.

[2017-09-15 03:16] ntcong opened #61 "Empty project list on Windows"
I'm using this config
[code]

It's working correctly on OSX, but return no entries on Windows (no process bar, no error log).
Is there any way to enable a verbose output so I can know what's going on here.

[2017-09-21 14:14] lukehmu commented on #61
Also having this issue on Windows (using the Insider edition of VS Code)

[2017-09-21 19:49] felipecaputo commented on #61
Sorry for taking too long. I will add some logs to enable verbose mode to make it easy to.

Maybe I could try to fix it with a isValidPath before searching for projects

[2017-09-22 03:42] ntcong commented on #61
I have cleared the Code folder AppData and it works for a while. Using Open Git Project in Subfolder return correctly "D:\\Dropbox\\workspace"

But after a few restart, it stopped working and subfolder changed to "Dropboxorkspace"

[2017-09-22 11:35] felipecaputo commented on #61
@ntcong Thanks for the info. Yesteday I've created a VM to start fixing this. It seems that something is escaping the the `\` in the path after some time.

I will start changing the way path is built and normalize path to the fs module right from the beginning.

I will problably make a pre-release here in the repo, and it would be great if you could test it!

[2017-11-28 08:24] janpipek opened #62 "Support mercurial"
Hi,
the extension is very useful. Most of my projects are versioned by git by I have a lonely mercurial repo or two. Therefore, I was wondering how difficult it would be to add support for other versioning systems - hg, svn, ... Perhaps they can be recognized by the presence of .hg, .svn, ... directories easily?
Thanks in any case.

[2017-11-28 13:50] felipecaputo commented on #62
It would be easy to do. I will take a look and let you know o/

[2017-11-28 14:50] janpipek commented on #62
That would be awesome ;-)

[2017-12-28 22:23] MortezaT commented on #62
I'd appritiate it if you can make it possible to work on repositories on private servers running `GitLab` or `GitBlit`, etc

[2018-01-03 11:30] felipecaputo commented on #62
@MortezaT I'm currently using it with a private gitlab and its working fine, did you found any problem?

[2018-01-03 11:40] janpipek commented on #62
I can only confirm that it works for our private GitLab server as well.

[2018-01-04 03:20] MortezaT commented on #62
@felipecaputo For me it just shows the loading and nothing else happens, but when I check a folder with github repos it list them all at a glance.

[2018-01-04 09:02] janpipek opened #63 "Not displaying default remote if it is not named "origin""
I found this randomly when looking for possible causes of #62 .

In your code to display a little info about repos, you explicitly call "git remote show origin". This will fail if the default remote is not called "origin". In such case, it just shows "origin" string.

How to reproduce: Update your .git/config to something like

[code]
Perhaps, it's a marginal issue but anyway...

Cheers,
Jan

[2018-01-04 22:17] felipecaputo commented on #63
@janpipek thanks for reporting

I'm currently working in 62. I'll fix this as soon as I finish that, what I hope that will happen in next weekend o/

[2018-01-04 22:18] felipecaputo commented on #62
@MortezaT could you please collect the logs from the extension, or clone it and run the debug extension?

[2018-01-06 20:46] MortezaT commented on #62
@felipecaputo  I checked the logs and found nothing, so it seams the only option is to run the extension in debug mode. Can you walk me through?

[2018-01-10 14:18] felipecaputo commented on #62
@MortezaT , sure. You just need to have node version 6+ installed and then:

- clone the repository
- run `npm i` inside the repository folder
- open with VSCode
- press F5 to run debugger

The function that you want is located in `src/GitProjectManager.js`, and is called `showProjectList`

[2018-01-30 08:44] timlogemann opened #64 "If baseProjectsFolders has only 1 value use it as default."
I store all my git projects inside `~/projects`. So naturally for me I don't need to select the projects folder as I've provided it to GPM and it's the only one, it would be a nice enhancement if this value would be accepted without needing me to confirm it once more in the dialog.

**Steps to reproduce:**
1. Install GPM
2. install one or several git repositories in a single location e.g: ~/projec

[2018-03-23 23:24] Tyriar opened #65 "Sorting of list should be stable"
When I type to refine this search, all the 'xterm.js' entries shuffle, presumably because the sort used is not stable.

<img width="391" alt="screen shot 2018-03-23 at 4 23 53 pm" src="https://user-images.githubusercontent.com/2193314/37857224-a8d60566-2eb6-11e8-8346-2bf3d710ee2e.png">

[2018-03-23 23:27] Tyriar opened #66 "Missing entries from list"
Here's a search:

<img width="333" alt="screen shot 2018-03-23 at 4 25 03 pm" src="https://user-images.githubusercontent.com/2193314/37857243-c437443c-2eb6-11e8-91a7-0bd6f627fcb6.png">

But there are extra git repo(s) that should be getting matched:

[code]

---

OS: macOS

Settings:

[code]

[2018-03-26 12:47] felipecaputo commented on #66
Hi there,

I'll take a look at this today when I get home and let you know

[2018-03-26 12:48] felipecaputo commented on #65
I think I didn't add a sort to the result list and that can be the problem...

I'll take a look at this today when get home.

Thx for the feedback

[2018-03-26 12:53] felipecaputo commented on #64
Hi @timlogemann, when you press `Ctrl+Alt+P` it ins't listing all projects inside the `~/Projects` folder?

There are 2 Commands:
  - `Shift + Alt + P`: That asks you for a base folder from your list of base folders to list the projects
  - `Ctrl+Alt+P`: That lists all projects in all base folders

[2018-03-28 17:05] felipecaputo commented on #62
@MortezaT, I will just make some tests tonight and finally close this issue and release the next version

[2018-03-29 15:03] #62 closed

[2018-03-29 15:13] felipecaputo commented on #53
I'm closing this issue since the problem seems to stop happening.

If it happens again, feel free to open it again.

[2018-03-29 15:30] felipecaputo commented on #66
It seems to be something with the `checkRemoteOrigin`, but I could not reproduce

Can you turn it off and see if it solves the problem?

If is really this feature I'll fix it ASAP

[2018-03-30 15:03] Tyriar commented on #66
@felipecaputo I'll try check when I'm back in the office next week

[2018-04-04 17:40] Tyriar commented on #66
This was my bad, I had `"gitProjectManager.maxDepthRecursion": 2` set, changing to 3 fixes it. Sorry about the hassle 😃

[2018-04-04 17:40] #66 closed

[2018-04-04 18:31] Tyriar opened #68 "Duplicates can appear in project list"
![image](https://user-images.githubusercontent.com/2193314/38326810-a0f94cc4-37fb-11e8-8993-9516b86274f1.png)

This is on Windows with the following settings:

[code]

[2018-04-05 18:47] #68 closed

[2018-04-05 19:04] felipecaputo commented on #64
@timlogemann Is this still a problem to you?

[2018-04-05 19:05] felipecaputo commented on #61
@ntcong Is this problem still happening? Can we close this issue?

[2018-04-06 13:31] timlogemann commented on #64
I've taken a look, turns out it was a conflicting extension why
`Ctrl+alt+P` did not work. Disabled the other package and now works fine!

You can close this one. Thanks!

On Thu, Apr 5, 2018, 21:04 Felipe Caputo <notifications@github.com> wrote:

[2018-04-09 13:19] felipecaputo commented on #64
Thanks for your feedback. If you need anything else, you can open it again!!

[2018-04-09 13:19] #64 closed

[2018-04-10 13:06] ntcong commented on #61
I think so, I have used for last few months without problem.

[2018-04-10 13:06] #61 closed

[2018-05-05 11:47] letheed opened #71 "Make open in new window smarter"
AFAIU, currently GPM either opens a new window or replaces the current one.

What I usually want is to open a project in a new window if I already have a project open in this one but open the project in this one if I don't already have a folder open.

Would that be doable?

[2018-05-07 14:02] felipecaputo commented on #71
Hi @letheed, I've never tought that way but yes, and I belive it would be a really simple implementation.

The open in new window will be ignored if current window doesn't have any folder open.

Does it seems good for you?

[2018-05-07 15:51] letheed commented on #71
Yes, and maybe simple files as well. Might be surprising for users otherwise.

[2018-05-08 11:12] s-yagodkin opened #72 "Add action to append project to current workspace"
Hi, I think about feature to enhance GPM to work with multi-root workspace and add apility to append project to current workspace, similar to `code -a`

[2018-05-08 13:57] felipecaputo commented on #72
Hi @s-yagodkin I didn't make any change yet to support multi-root workspace

I'll try to take a look at this in the weekend and let you know o/

[2018-05-08 18:41] hassanshaikley opened #73 "Feature request: Hitting enter while projects are loading will load the first result"

[2018-05-12 14:16] #71 closed

[2018-05-12 18:41] darrencoen opened #76 "add memory of git projects already scanned"
I have a big directory with many git projects, and despite being as specific with the settings to only traverse 1 level, and ignore numerous folders, etc, it still takes quite a while for GPM to do its initial scan.

Very frequently I'll load up vs code and realize that the open workspace isn't the one i want, so ctrl+shift+p gpm open .... and wait for the scan to finish.

Perhaps save an array of

[2018-05-12 18:44] darrencoen commented on #76
Derp, solved, I'm just an idiot. The setting already exists but I missed it:

`{
    "gitProjectManager.storeRepositoriesBetweenSessions": true
}`

Sorry and Thanks!

[2018-05-12 18:44] #76 closed

[2018-05-14 09:30] dinks opened #77 "Breaks with the new version of Visual Studio Code. Attached info below"
- Extension Name: git-project-manager
- Extension Version: 1.6.0
- OS Version: Darwin x64 16.7.0
- VSCode version: 1.23.1

[code]

[2018-05-14 12:58] felipecaputo commented on #77
Thanks for your feedback @dinks, I'll take a look at this ASAP

[2018-05-14 15:05] #77 closed

[2018-05-14 15:10] dinks commented on #77
Thanks!

[2018-05-14 16:17] felipecaputo commented on #77
@dinks if you find any problem, feel free to open it again or create a new issue.

I don't have a mac, but I believe I've found the buggy comparisson \o

[2018-05-14 16:33] dinks commented on #77
Works like a charm now! Thanks @felipecaputo

[2018-05-30 11:01] Goddak commented on #53
@felipecaputo - My colleague @fullas has started seeing this problem today, I'll provide some detail below;

OS Ver: Linux - Ubuntu 16.04
VSC Ver: 1.23.1
GPM Ver: 1.6.1

We're unable to perform any actions and simply get errors like;
- `gitProjectManager.newWindow` cannot be found.
- `gitProjectManager.openProject` cannot be found.

We have taken these basic steps to resolve the problem;
- Shutdow

[2018-05-31 18:14] felipecaputo commented on #53
It looks like there is something that after some updates, something breaks in the extension folder... Could you please validate if there is any private data on it, and if don't compress it and attach here for me to be able to reproduce and try to fix it?

[2018-06-27 15:50] alyyasser opened #78 "The extension pointing at wrong vscode config folder in open source build of VSCode (Arch/Manjaro)"
- [The Open Source build of Visual Studio Code (AUR)](https://aur.archlinux.org/packages/code/)

- VSCode version:
[code]

- Git Project Manager version: `1.6.1`

- Operating System:
[code]

- Developer Tools > Console Log:
[code]

- `~/.config/` directory:
[code]

- `~/.config/Code - OSS/User/` directory:
[code]

- Similar issue in other extension:
Project Manager: issue [#178](https://github.com

[2018-06-27 16:01] alyyasser commented on #78
- Another console log:
[code]

[2018-07-24 16:21] Tyriar opened #80 "Disambiguate entries with same remote but different folders"
I have 2 folders cloned from Microsoft/vscode, they appear as the same entry in the quick pick:

![image](https://user-images.githubusercontent.com/2193314/43152152-9b942956-8f22-11e8-91b4-9cad02d5b417.png)

They're in `~/dev/vscode` and `~/dev/Microsoft/vscode`, maybe adding the path from the closest ancestor path to the label would work:

- vscode (dev)
- vscode (dev/Microsoft)

[2018-08-07 11:53] jrehwaldt opened #81 "Support for VS Code portable mode"
[VS Code added support for portable mode](https://code.visualstudio.com/docs/editor/portable) when the directory `data` is available alongside the binary on zip-versions.

This behavior is [not yet supported by this project manager](https://github.com/felipecaputo/git-project-manager/blob/master/src/gitProjectManager.js#L25-L26) and manifests as follows:

[code]

[This open PR](https://github.com/

[2018-08-20 13:12] #53 closed

[2018-09-18 11:52] KyrychukD commented on #80
I have a similar problem with a couple of local git repositories that do not have any remotes. By default they are displayed in the project picker like this:
![selection_065](https://user-images.githubusercontent.com/699961/45685262-7d13e100-bb51-11e8-96c2-758a472e8ea6.png)

I found that setting the `gitProjectManager.checkRemoteOrigin` setting to `false` makes the project picker display the proje

[2018-09-18 19:14] #78 closed

[2018-09-19 08:55] smbkr opened #85 "Add project list to sidebar"
Extensions are able to add custom sidebar items. It would be useful to have an option in this extension, to add a sidebar item that lists all projects, and allows the user to switch the current workspace to a different project by double clicking the project name. Shortcuts could be added in the header for common actions like refresh project list.

[2018-09-19 13:03] felipecaputo commented on #85
Hi @smbkr, I've been thinking about this lately, and I'm planning to do it soon, but as an enabler to this feature, I'm working on a big change that will not search actively for repositories, but use `chokidar` to keep repolist always refreshed.

As soon as I finish this base changes, I will sure get this issue implemented.

And if you feel comfortable, It would be great to receive some PR around

[2018-09-19 13:04] felipecaputo commented on #81
Sorry for taking too long, I'm just fixing some errors with my latests PR and will take a look at this really soon

[2018-09-19 18:33] felipecaputo commented on #81
Hi @jrehwaldt can you please validate if the MR #79 that was release on 1.7.0 fix this issue?

[2018-09-19 18:34] felipecaputo commented on #80
@Tyriar can we close this with 1.7.0 released today with PR #84 ?

[2018-09-19 18:36] felipecaputo commented on #60
Hi @MonsieurMan, there were some improvements around visualization, can you check 1.7.0 and see if it helped on your issue?

[2018-09-19 18:41] jrehwaldt commented on #81
The issue still persists, because MR #79 fixes an unrelated issue related to the name of the product. This issue is about the location of the config.

[2018-09-19 19:37] Tyriar commented on #80
@felipecaputo works great 😃

[2018-09-19 19:37] #80 closed

[2018-09-19 19:50] felipecaputo commented on #81
Thanks for the quick reply, I'll look into this today

And release it on 1.7.1

[2018-09-20 11:10] gmmephisto opened #88 "'Path does not exist' on project switching"
Problem:
* After upgrade got an error `Path does not exist` on every project switch. Detail error message: `The path '/~/Documents/projects/<project>' does not seem to exist anymore on disk.`.
* User settings:
[code]
* Can be reproduced on clean VSCode install and with absolute paths in `baseProjectsFolders`. `GPM: refresh projects` doesn't help.
* Ubuntu 16.04, VSCode Version: 1.27.2

[2018-09-20 11:19] gmmephisto commented on #88
Workaround:
* Comment-out home dir replacing in `getQuickPickList` method in `~/.vscode/extensions/felipecaputo.git-project-manager-1.7.0/src/gitProjectManager.js`:
[code]

[2018-09-20 12:53] felipecaputo commented on #88
@gmmephisto  thanks for reporting, I'll take a look at this ASAP, probably releasing a oatch version today?

[2018-09-20 13:13] felipecaputo commented on #88
1.7.1 released with this workaround. I'll make some tests and write tests for this feature

[2018-09-21 08:55] gmmephisto commented on #88
@felipecaputo thanks for quick reply and bugfix version, it works!

[2018-09-21 17:00] Tyriar commented on #88
Thanks for the quick fix, just hit this and all I needed to do was update ❤️

[2018-09-27 19:17] DDriggs00 opened #89 "Feature Request: Cache unsaved files when switching projects"
When switching between projects, it would be nice to keep all unsaved files cached (similar to when vs code is closed) and restored to the editor upon re-opening that project.

[2018-09-28 14:21] DDriggs00 commented on #89
That is correct. Currently with the latest release version, it asks you if you want to save, and if you don't, closes the files and switches projects. When you switch back, the unsaved files are not retained

[2018-09-29 15:01] felipecaputo commented on #89
I was working on this and found that is by design, there is a configuration to change the behavior and keep dirty files between sessions on the same workspace.

Changing the configuration bellow will give you the behavior you expect.

![image](https://user-images.githubusercontent.com/7751449/46247261-3474e700-c3df-11e8-9e45-b404bea5aec0.png)

I'll leave this issue with a validation tag waiting fo

[2018-10-01 17:13] DDriggs00 commented on #89
Can validate that changing the "Hot Exit" setting from "OnExit" to "OnExitAndWindowClose" fixes the issue

[2018-10-01 17:13] #89 closed

[2018-10-02 11:48] Goddak commented on #53
Just seen this, sorry bud, glad you got it sorted :smile:

[2018-10-05 06:42] bilyboy785 opened #91 "storeRepositoriesBetweenSessions not updated"
Hello,

When i enable storeRepositoriesBetweenSessions, it's ok.
But when i add new repo in the folder, the option storeRepositoriesBetweenSessions is not reload and cannot fin the new repo.

[2018-11-01 07:37] Yahia2 commented on #91
Hello,

When i enable storeRepositoriesBetweenSessions, it's ok.
 But when i add new repo in the folder, the option storeRepositoriesBetweenSessions is not reload and cannot fin the new repo.

[2018-12-05 05:13] Zyrsha commented on #85
+1, this one is super important. I'd like to keep a couple hundred git repos and view them in their own side bar.

[2019-01-11 18:35] Tyriar opened #92 "Project refresh on Windows is too slow"
**Describe the bug**

Setup:

[code]

When I reload the window, I hit my keybinding and wait for extension activation. Once that's done the quick pick appears immediately but the search to refresh the project list typically takes 5+ seconds even though I have the following structure:

[code]

It seemed to dramatically speed up (~5s -> ~2s) when I deleted the build output folder (packaged VS Code)

[2019-01-14 14:17] dmytrokyrychuk opened #93 "Display git worktrees in the project picker"
It would be great if [worktrees](https://git-scm.com/docs/git-worktree) located under `baseProjectsFolders` would show up in the project picker too.

[2019-02-06 08:56] smbkr opened #94 "Make search fuzzier"
**Is your feature request related to a problem? Please describe.**

It's frustrating to type "my api" in the 'open project' menu and get no matches, because the repo is actually named "my_api". I'd expect it to use fuzzy matching here.

**Describe the solution you'd like**
Use fuzzy matching algorithm when searching projects.

**Describe alternatives you've considered**
N/A

**Additional context**

[2019-05-28 13:51] wongjn opened #95 "Cannot switch workspaces while in WSL via WSL Remote Extension"
**Describe the bug**
After initial indexing, the workspace switching dialogue does not open any folders.

<details>
  <summary>I get the following errors on initial indexing:</summary>

[code]
</details>

<details>
  <summary>Then picking any folder:</summary>

[code]
</details>

Creating the `/home/foobar/.config/Code - Insiders/User/` directory manually works as a work-around.

**To Reproduce**

[2019-05-28 16:11] 4fm opened #96 "Can add SMB support for base folder path?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

If we have many PCs and MACs. Working both on Linux and macOS.
The base folder cannot be the same.
IF a SMB protocol was supported. We can se

[2019-05-28 17:16] felipecaputo commented on #96
Hi @4fm, I've never worked with smb protocol, I'll take a look to see if it is easy to use the `fs.walk` or something like that to be able to parse all directories

[2019-07-15 03:55] SeanTAllen commented on #95
Can confirm. I ran into the same issue.

[2019-10-02 11:57] felipecaputo commented on #95
I'll review and release a new version with this fix this week

Sorry for taking so long

[2019-10-08 16:04] akdir commented on #94
I would love to tackle this. Let me hear if that is possible if I can work on this.

Also what do you guys prefer, implementing your own fuzzy search algorithm or using a node package like Fuse.js( [https://fusejs.io/](url) ) for example? Would love to hear back from you @felipecaputo ,

[2019-10-14 20:10] felipecaputo commented on #94
Hi @akdir , that's great to hear it from you.

First of all, I'd like to apologize for taking to long to reply to you.

I don't think we would need to implement it again, and the library you suggested seems to be pretty solid.

You can count on me with anything to accomplish this, and I would love to see this feature on the extensions.

[2019-10-16 00:07] akdir commented on #94
Hi @felipecaputo, thanks for replying back.

I just finished implementing fuzzy searching on the extension. It now works pretty good, but I still want to change some settings to make it much more sensitive.

I did use Fuse.js. I worked some hours of my night on this. And most of the time was researching how the VScode API works and understanding your extension. It was much fun and I learned quite

[2019-10-16 18:25] akdir commented on #94
Hi @felipecaputo, I have very bad news :(.

So after almost pulling all my hairs out, I found out that it is not possible in VsCode to use fuzzy searching on QuickPick function. I used Fuse.js to seach fuzzy and it worked, that is why I wrote before that it works and that I will do a pull request tomorrow. So it does indeed filter out and searches fuzzy like you want to, but it is impossible to di

[2019-10-17 07:45] smbkr commented on #94
There's an open issue on the VSCode repo here: https://github.com/microsoft/vscode/issues/34088

[2019-10-20 18:45] akdir commented on #94
@smbkr , Yeah I found that open issue on the VSCode after I started doing this Issue, should maybe next time check if it is possible to fix an extension issue after checking the open issues on VSCode. I hope someday the VSCode Team will fix this issue. Still thanks for showing me the issue on VSCode.

[2019-12-02 19:49] EdgarBarrantes commented on #95
Quick solution I found for this specific problem:

``` mkdir -p ~/.example/{Code/{User,},} && touch .example/Code/User/gpm-recentItems.json```

[2019-12-02 19:50] EdgarBarrantes commented on #95
Quick solution I found for this specific problem:

``` mkdir -p ~/.config/{Code/{User,},} && touch .config/Code/User/gpm-recentItems.json```

[2019-12-16 02:54] ricardorosiles opened #104 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-project-manager`
- Extension Version: `1.7.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.41.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\DELL\felipecaputo.git-project-manager-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-e

[2019-12-16 12:17] felipecaputo commented on #104
Hi, I'll try to take a look a this and let you know

[2020-04-02 14:03] MareoRaft opened #105 "Won't open git project"
**Describe the bug**
The list of git projects to switch to successfully populates, but when selecting one, it does not switch to the project.

**Desktop (please complete the following information):**
 - OS: RHEL 7
 - VSCode flavor: Code - OSS
 - Version: 1.43.0
 - Commit: a4c0fd1fdc9ff59fc097f92f1cb2d3698833ce62
 - Date: 2020-03-31T21:01:44.807Z
 - Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 1

[2020-04-03 12:06] felipecaputo commented on #105
Hi @MareoRaft, thank you for your feed back.

After some updates of VSCodeAPI it should not need that config anymore.

Can you get the extension log or error to help me identify what could have happened?

[2020-04-03 12:07] #95 closed

[2020-04-16 12:29] #88 closed

[2020-05-29 04:20] eriktrom commented on #104
This happened to me, but It seems upstream related.

(b/c of that) **IMHO no one should de-rank this plugin with low stars due to this issue**

----

system:

vscode:

Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:33:47.663Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

GPM:

Cpu Profile:

---

_TMI_

(you be the judge

[2020-05-29 10:06] felipecaputo commented on #104
Hi @eriktrom thank you for this well written issue. GPM looks only to folders, and this `.Trash` is a folder?

If it is, could you try put it in `ignoredFolders` config for a try.

I've made a big change migrating extension to TS last month, and fixed some issues. I'll do the last tests and release it, and maybe fix this issue

[2020-05-30 00:35] eriktrom commented on #104
Looks like its was `.Trash-1000` which I'm pretty sure is due to using Parallels Desktop for Mac, running Ubuntu-18 now and then. I'll add that to `ignoredFolders` for sure. I have GPM set to traverse a few directories deep, I presume `**/.Trash-100` should fix the whole traversal, if not let me know

The kicker is that I'll have to get lucky again(or not) ha - in this case, if that were too work,

[2020-08-13 12:58] teodorescuserban opened #110 "Disable auto refresh"
**Is your feature request related to a problem? Please describe.**
I find myself working on multiple projects at once and find the time spent waiting for the first time refresh in a new window kind of frustrating.

**Describe the solution you'd like**
A simple option to disable the auto-refresh of the repositories; in the case only manually choosing to refresh will lead to a refresh.

**Describe a

[2020-08-13 17:50] felipecaputo commented on #110
Hi @teodorescuserban I've made a change that I was about to publish that will probably help on that.

I'll let you know as soon as I release this version!

[2020-08-19 21:08] bkbelton commented on #105
I have the same issue but in wsl. The project list populates, but the project doesn't open in wsl. I have tried both
    "gitProjectManager.codePath" : "/mnt/c/Users/bbelton/AppData/Local/Programs/Microsoft VS Code/Code.exe",

and

 "gitProjectManager.codePath" : "C:\\Users\\bbelton\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe "

I have tried these setting is both user and machine settin

[2020-08-21 08:48] teodorescuserban commented on #110
Awesome, thank you @felipecaputo !

[2020-08-24 12:39] MareoRaft commented on #105
@felipecaputo  Sorry, I no longer have access to the server where I had VSCode installed.  You are free to treat this as @bkbelton 's issue.  I will no longer be participating at this time.

[2021-02-01 20:52] Darkle opened #111 "Feature request: Option to sort display alphabetically"
It would be great if there were an option to list the repos alphabetically by name. That would make it easier to skim at a glance when you have a lot of projects.

[2021-03-25 10:53] eriktrom commented on #104
@felipecaputo - thanks for the help back in 2019 - figured i'd drop u a line on a new finding that happened when I re-organized my mac (so that my dev directory was not under Documents, instead, its under my home dir). It got the extension host to freeze, which is the first time in i guess over a year now. (since I added directories to `ignoredFolders`, which worked like magic... but I think 'the

[2021-03-26 17:16] felipecaputo commented on #104
hi @eriktrom thanks for the feedback.

I've been working on a complete rebuild of the extension.

Some job demands made me take some time off open source (this pandemic make people use a lot online services) but I think I removed it already, and if not, I will remove it, since using chokidar and VSCode builtin cache storage the UX will be a lot better.

Thanks for the feedback!

[2021-04-19 11:26] simonhaenisch opened #113 "List submodules as projects"
At my new workplace there's a mono-repo that's just a bunch of git submodules, so it's easier to clone all the relevant repos all at once (`git submodule foreach "git checkout master && git pull origin master"`).

When using the "GPM: Open Git Project" action, it only lists the top level git project but doesn't allow me to jump directly into the submodules. I've tried enabling `searchInsideProject

[2021-05-27 18:44] 1efty opened #115 "Publish to Open VSX"
**Is your feature request related to a problem? Please describe.**

Publish this extension on https://open-vsx.org/

**Describe the solution you'd like**

https://github.com/eclipse/openvsx/wiki/Publishing-Extensions#how-to-publish-an-extension

**Describe alternatives you've considered**

Publish the extension via https://github.com/open-vsx/publish-extensions

**Additional context**

This will p

[2021-09-11 08:13] jamestansx commented on #93
Hi, what's the status of this feature request?

[2021-10-18 17:13] #63 closed

[2021-11-01 00:20] #115 closed

[2021-11-09 20:20] D-stroyR opened #124 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `git-project-manager`
- Extension Version: `1.8.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.62.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2021-11-09 20:54] felipecaputo commented on #124
Hi @D-stroyR, this error happened when starting the extension?

Did any other message appear?

[2021-11-10 00:43] D-stroyR commented on #124
Evening @felipecaputo, the error occurred when I tried to run Flutter on my android emulator device. It usually delays before I can see my app running, but this time it took a while and threw me with an error message. And when I saw the notification, I then realized that I have a problem. And no there were no other messages shown apart from this one. Thanks.

[2021-11-20 11:39] bencresty opened #125 "Error message 'gitProjectManager.openProject' not found"
**Describe the bug**
First of all; I really like this extension. It's very useful and speeds up the work flow drastically! I'm working with it for months now with lots of satisfaction, so thanks!

Lately there is a small issue though. Last days the extension sometimes throws an error message when Open Git Project command is used. This wasn't the case before. This happens quite a lot after VS Code

[2021-11-22 12:13] felipecaputo commented on #125
Hi @bencresty, I had this error on an early version of the activation events.

I'll take a look today to solve, and I think it might be probably something in the command activation.

Give me a couple hours and I post a feedback here!

And thanks for using and reporting this o/

[2021-11-24 09:55] bencresty commented on #125
@felipecaputo thanks!

[2021-11-24 20:26] felipecaputo commented on #125
I've found the problem, and later today will probably have the new version with the fix released o/

[2021-11-26 12:35] #125 closed

[2021-11-26 12:36] felipecaputo commented on #125
@bencresty I've just release the 1.8.2 with the fix, If it happens again, feel free to open this issue again o/

[2021-11-26 12:55] felipecaputo commented on #124
Hi @D-stroyR , I've did some tests and it seems like a problem with the activation events.

I've still let the `StartupFinished` activation event there, but I think it might be solved in the 1.8.2 version

[2021-11-26 12:57] felipecaputo commented on #113
Hi @simonhaenisch, I was looking at this recently.

I've making some tests, and I believe it might be possible to add config to allow listing submodules, and maybe just changing the icon.

I look deeper into it this weekend and let you know

[2021-11-26 13:18] simonhaenisch commented on #113
Ok thanks, however I ended up not cloning our mono-repo at all anymore, also for other reasons. Still might be useful though, I guess.

[2021-11-30 13:39] zardoy commented on #41
Hey, @felipecaputo! I implemented it some time ago in [GitHub Manager](https://marketplace.visualstudio.com/items?itemName=zardoy.github-manager), so wanna give some considerations:

- let user clone into default dir (AFAIK builtin clone command **always** shows directory select)
- warn if cloning repository is big and suggest shallow clone
- let user to specify pattern of cloning folder name (mig

[2021-12-09 18:45] felipecaputo commented on #41
Hi @zardoy, that would be awesome to have some help in this one.

Maybe we can use the base projects directories as a list of where to clone, since usually this config value have the folders that we usually clone projects.
* But also, allow going into subfolders of the base folders that are not repos can be a plus

The other things were perfect.

Let me know if I can assign you this issue and can

[2021-12-09 19:11] zardoy commented on #41
Yeah, I don't mind displaying quickpick by default. By there should also be settings that would allow:

- to always clone in specific location without prompting (number of item from base dir or string - path)
- (in case if settings above is configured) to still show the quickpick with location from above selected by default

I understand that this might be too complicated at first time, but for no

[2022-02-11 22:52] blakeNaccarato opened #126 ""Directory <dir> does not exists." should read "Directory <dir> does not exist.""
Currently:

https://github.com/felipecaputo/git-project-manager/blob/bb0c3bbede372c9eb9f3cf6005510fc6c3bb5687/src/gitProjectLocator.ts#L45
[code]

Should be:

[code]

I would open a Pull Request, but I think I'd rather leave this single-character edit up to you 😅

That is all! Thanks for keeping up with this extension, I really enjoy it!

[2022-02-21 17:12] felipecaputo commented on #126
Thanks for the feedback @blakeNaccarato, I will release a new version at the end of this week and will do it!

[2022-06-16 06:54] aknandansharma opened #128 "performance related bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-07-22 10:32] jxliaocb opened #130 "Can not display the project folder path."
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

After input CTRL+SHIFT+P , then input gpm
On project window display multiple git repo list, but does not display the folder of the repo project, there are multiple same name repo. So I am confuse, don't know which one I expected.
![Screenshot from 2022-07-22 20-22-22](https:/

[2022-07-28 23:32] rhystedstone opened #131 "Support for wildcards in settings"
**Is your feature request related to a problem? Please describe.**
Refreshing the project list will often be slow if you haven't excluded every possible folder that may not contain a project. Without constant trial-and-error, you can't be certain you've excluded every folder.

**Describe the solution you'd like**
If the settings could support wildcards (such as the use of an asterisk `*`), there w

[2022-08-19 20:12] AUTOVOL opened #132 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `git-project-manager`
- Extension Version: `1.8.2`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.70.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2022-10-09 21:28] Deluxe247 opened #134 "Fix README.md documentation issue"
In the [README.md](https://github.com/Deluxe247/git-project-manager#readme) file. In "Available settings" section instructions does not include how to navigate to "settings" for MAC. Please see image below to navigate to settings: Code -> Preferences -> Settings

<img width="688" alt="VSC settings" src="https://user-images.githubusercontent.com/18062330/194780141-b525109b-9610-4316-8710-16a8c6b08c

[2022-10-09 21:35] Deluxe247 commented on #134
Please see pull request "change available settings #133" for fixing issue to include instructions for MAC